@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>This is the offline page</title>
</head>
<body>
<div>
    This is the offline page
    <h4>
        <strong>Daily Solar Energy at Guatemala</strong>
        <charts></charts>
    </h4>
</div>
</body>
</html>

@Scripts.Render("~/bundles/js/angular")
@Scripts.Render("~/bundles/js/highcharts")
@Scripts.Render("~/bundles/js/offlineScripts")