@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html manifest="@Url.Action("Manifest")">
<head>
    <title>title</title>
    <script src=@Url.Content("~/Scripts/main.js")></script>
</head>
<body>
<div>
    <img id="logo" src="@Url.Content("~/Content/images/logo_online.png")"
         data-online="@Url.Content("~/Content/images/logo_online.png")"
         data-offline="@Url.Content("~/Content/images/logo_offline.png")"/>
    <br/>
</div>
<script type="text/javascript">
    updateUIStatus(navigator.onLine);
</script>
</body>
</html>